body {
    max-width: 900px;
    margin: 0 auto;
}

p {
    font-size: 20px;
    line-height: 1.5;
}

header {
    display: flex;
}

header p {
    display: flex;
    align-items: end;
    margin-bottom: 20px;
    margin-left: 10px;
}

nav a {
    text-decoration: none;
    margin: 0 15px;
    color: black;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* main */
.introduce img {
    width: 250px;
    height: auto;
    max-height: 800px;
}

.introduce {
    display: flex;
}

#about-me {
    margin: 2rem 0;
}

.project {
    font-size: 20px;
}

#projects {
    margin: 2rem 0;
}

details {
    margin: 2rem 0;
}

#skills img {
    width: 65px;
    height: 65px;
}

.icon {
    display: flex;
    justify-content: space-between;
}

#skills {
    margin: 2rem 0;
}

footer h2 {
    color: white;
    margin: 1.2rem;
}

.contact-sp p {
    color: white;
    margin: 1.5rem;
    font-size: 16px;
}

.contact-sp {
    display: flex;
    align-items: center;
}

.contact {
    display: flex;
}

.separator {
    height: 24px; /* Set the height of the separator */
    border-left: 1px solid #fff; /* Adjust color and style as needed */
    margin: auto 20px; /* Adjust spacing as needed */
  }

footer {
    background-color: dimgray;
    display: flex;
    align-items: center;
}